/* generic styles */
.title-color {
    color: #9EC2AF;
}

.shadow {
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.header-strap p{
    margin: 0 auto;
    background-color: #9EC2AF;
    color: white;
    border-top: 1px solid #f8e1f4;
    border-bottom: 1px solid #f8e1f4
}

.navbar{
    background-color: #fff !important;
}

.navbar-brand{
    color: #9EC2AF !important;
    font-size: 1.6rem;
    margin-left: 20px;
    padding-right: 10px;
}

.navbar-brand i {
    padding-left: 5px;
}

.navbar-nav{
    margin: 0 auto;
}

.nav-link {
    color: #9EC2AF !important;
}

.social i {
    color: #9EC2AF;
}

.social-header {
    margin-right: 20px;
}

.social-footer i {
    padding: 10px;
    margin-top: 2em;
}


/* registration page */
/* 
.my-form {
    border: 5px solid #6c757d;
    padding: 30px;
    border-radius: 2%;
} */

.my-form i {
    color: #9EC2AF;
}

.my-form{
    padding: 30px;
}

.form-box {
    padding: 30px 40px;
}


