/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* generic styles */

.shadow {
    -webkit-box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
            box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

a:hover {
    opacity: 66%;
  }

/* colors */

.title-color {
    color: #9EC2AF;
}

.yellow{
    color: #FFD523;
}

.blue{
    color: #B5DEFF
}

.green{
    color: #20847e;
}

.soft-black{
    color: #313232;
}

/* page header */

.header-strap p{
    margin: 0 auto;
    background-color: #9EC2AF;
    color: white;
    border-top: 1px solid #f8e1f4;
    border-bottom: 1px solid #f8e1f4
}

.navbar{
    background-color: #fff !important;
}

.navbar-brand{
    color: #9EC2AF !important;
    font-size: 1.6rem;
    margin-left: 20px;
    padding-right: 10px;
}

.navbar-brand i {
    padding-left: 5px;
}

.nav-link {
    color: #9EC2AF !important;
}

.my-btn {
    border-color: #ced4da;
}

.search-bar {
    padding-right: 0 !important;
}

.profile-icon {
    margin-right: 20px;
}

.user-icon {
    font-size: 1.25rem;
}

.social-footer i {
    padding: 10px;
    margin-top: 1em;
    color: #9EC2AF;
}

/* following media query to reduce padding on smaller screens */
@media screen and (max-width: 768px) {
    .nav-link {
        padding: 5px !important;
    }
}

/* homepage */

.homepage-image {
    width: 100%;
    height: auto;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 10px
}

.homepage-card-box {
    background-color: #fff;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

/* following media query to reduce the homepage text box on larger screens */
@media screen and (min-width: 992px) {
    .homepage-card-box {
        width: 50%;
        height: auto;
    }
}

/* registration page */

.my-form i {
    color: #9EC2AF;
}

.my-form{
    padding: 30px;
}

.form-box {
padding: 30px 10px;
}

/* following media query to reduce increase the padding on this box on larger screens */
@media screen and (min-width: 992px) {
    .form-box {
        padding: 30px 40px;
    }
}

.password-checkbox {
    margin: 5px;
}

/* Sheets */

.sheet-icons i {
    padding: 5px;
}

.card-body{
    width: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
}

.delete-icon {
    font-size: 1rem;
    padding: 5px;
}

.edit-icon {
    font-size: 1rem;
    padding: 5px;
}

.return-icon {
    font-size: 1rem;
    padding: 5px;
}

.sheet-image {
    width: 300px;
    height: 200px;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 10px
}

/* view sheet */

.view-sheet-image {
    width: 100%;
    height: auto;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 10px
}

.quick-facts-card {
    background-color: #fafafa;
    border: 10px solid white;
    color: #313232;
    font-family: 'Roboto Mono', monospace;
}

.search-container {
    padding: 0 !important;
}

.search-bar {
    margin-left: 20px;
}

/* following media query to reduce font size on smaller screens */

@media screen and (max-width: 576px) {
    .quick-facts-card {
        font-size: 0.8rem;
        padding:    0;
    }
}

.quick-facts-card i {
    padding-left: 5px;
    color: #313232;
}

.sheet-footer-btn {
    float: right !important;
}

/* Delete sheets modal */

.modal-content{
    font-family: Arial, Helvetica, sans-serif;
}
.modal-header {
    background-color: #ffc107;
}

.modal-title {
    color: #fff;
    
}

/* following code altered from css tricks https://css-tricks.com  */

.modal-header-icon {
    color: #fff !important;
    font-size: 1.8rem;
    position: relative;
    right: 10px; 
}

/* Add Sheet */

.form-label{
    font-weight: 800;
}

/* Flash Messages */

.flash-body {
    margin: 10px auto;
    
    width: -webkit-fit-content;
    
    width: -moz-fit-content;
    
    width: fit-content;
    height: auto !important;
}

.flash-body i {
    font-size: 1.5rem;
    color: #313232;
}

/* Pagination */

.pagination ul > li {
   display:inline-block;
   padding:0px 10px;
    position: relative;
}

.pagination {   
    -webkit-box-pack: right;   
        -ms-flex-pack: right;   
            justify-content: right;
}





