/* generic styles */

.shadow {
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

/* colors */

.title-color {
    color: #9EC2AF;
}

.yellow{
    color: #FFD523;
}

.blue{
    color: #B5DEFF
}

.green{
    color: #20847e;
}

.soft-black{
    color: #313232;
}

/* page header */

.header-strap p{
    margin: 0 auto;
    background-color: #9EC2AF;
    color: white;
    border-top: 1px solid #f8e1f4;
    border-bottom: 1px solid #f8e1f4
}

.navbar{
    background-color: #fff !important;
}

.navbar-brand{
    color: #9EC2AF !important;
    font-size: 1.6rem;
    margin-left: 20px;
    padding-right: 10px;
}

.navbar-brand i {
    padding-left: 5px;
}

.navbar-nav{
    margin: 0 auto;
}

.nav-link {
    color: #9EC2AF !important;
}

.my-btn {
    border-color: #ced4da;
}

.search-bar {
    padding-right: 0 !important;
}

.social i {
    color: #9EC2AF;
}

.social-header {
    margin-right: 20px;
}

.social-footer i {
    padding: 10px;
    margin-top: 2em;
}

/* homepage */

.homepage-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    padding: 10px
}

.homepage-card-box {
    background-color: #fff;
    width: 50%;
    height: auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}


/* registration page */
/* 
.my-form {
    border: 5px solid #6c757d;
    padding: 30px;
    border-radius: 2%;
} */

.my-form i {
    color: #9EC2AF;
}

.my-form{
    padding: 30px;
}

.form-box {
    padding: 30px 40px;
}

.password-checkbox {
    margin: 5px;
}

/* Sheets */

.sheet-icons i {
    padding: 5px;
}

.card-body{
    width: auto;
    height: fit-content;
    overflow: hidden;
}

.delete-icon {
    font-size: 1rem;
    color: #FF2442;
    padding: 5px;
}

.edit-icon {
    font-size: 1rem;
    color: #77D970;
    padding: 5px;
}

.return-icon {
    font-size: 1rem;
    padding: 5px;
}

.sheet-image {
    width: 300px;
    height: 200px;
    display: block;
    object-fit: cover;
    padding: 10px
}


/* view sheet */

.view-sheet-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    padding: 10px
}

.quick-facts-card {
    background-color: #fafafa;
    border: 10px solid white;
    color: #313232;
    font-family: 'Roboto Mono', monospace;
}

.quick-facts-card i {
    padding-left: 5px;
    color: #313232;
}

.sheet-footer-btn {
    float: right !important;
}

/* Delete sheets modal */

.modal-header {
    background-color: #6c757d;
    
}

.modal-title {
    color: #fff;
}

.modal-header-icon {
    color: #fff;
    font-size: 3rem;
    position: relative;
        /* code altered from css tricks */
    bottom: -5px;
    right: 10px; 
}

/* Add Sheet */

.form-label{
    font-weight: 800;
}

/* Flash Messages */

.flash-body {
    margin: 10px auto;
    
    width: fit-content;
    height: auto !important;
}

.flash-body i {
    font-size: 3rem;
    color: #9EC2AF;
}

/* Pagination */

.pagination ul > li {
   display:inline-block;
   padding:0px 10px;
    position: relative;
}

.pagination {   
    justify-content: right;
}

/* Profile page */



