{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body shadow text-center">
                <h3 class="card-title title-color">Uh Oh!</h3>
                <p class="text-center not-found-heading">It looks like something went wrong.</p>
                <p class="text-center not-found-text">Not to worry though, we can fix this! To head back to the main
                    site click<a role="button" class="btn mt-2 btn-outline-secondary" href="{{ url_for('home') }}">here</a></p>
                <div class=" container d-flex justify-content-center sheet-image-container">
                    <!-- source:http://clipart-library.com/clipart/6cr5zagoi.html -->
                    <img src="static/images/error-page.png" class="sheet-image" alt="image of a confused stick man"></a>
                </div>
            </div>
        </div>
    </div>
</div>








{% endblock %}
