{% extends "base.html" %}
{% block content %}


<form class="my-form" method="POST" action="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 form-box shadow">
                <h1 class="text-center title-color">Create a New Sheet</h1>
                <!-- common name  -->
                <div class="mb-3">
                    <label for="common_name" class="form-label">Plant Name</label>
                    <!-- more advanced regex could be used here -->
                    <input type="text" name="common_name" class="form-control" id="common_name"
                        aria-describedby="plantName" minlength="3" maxlength="30" required pattern="^[a-zA-Z]{3,30}$"> 
                    <div class="form-text">Enter the 'common name' of your plant e.g Money Plant or Spider Plant.</div>
                </div>
                 <!-- botanical name  -->
                 <div class="mb-3">
                    <label for="botanical_name" class="form-label">Plant Name</label>
                    <input type="text" name="botanical_name" class="form-control" id="botanical_name"
                        aria-describedby="plantName" minlength="3" maxlength="50" required pattern="^[a-zA-Z0-9]{3,50}$"> 
                    <div class="form-text">Enter the 'botanical name' of your plant if you are unsure you can leave it blank or try searching <a href="https://hortology.co.uk/" target="_blank">here</a></div>
                </div>
                <!-- category name -->
                <div class="input-group mb-3">
                    <select class="form-select" id="category_name" aria-label="Category options dropdown list">
                        <option selected>Category Name</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>


                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <!-- login button -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-secondary">Login</button>
                </div>
            </div>
        </div>
    </div>
</form>
  

{% endblock %}