{% extends "base.html" %}
{% block content %}

<div class="card mb-3 container">
    <div class="row">
        <!-- Image from Vecteezy.com -->
        <!-- Code source https://stackoverflow.com/questions/7995080/html-if-image-is-not-found -->
        <!-- Code ammended from a suggestion from the CI tutor support team -->
        <div class="col-lg-8">
            {% if sheet.image %}
                            <img src="{{ sheet.image }}"
                                onerror="this.onerror=null; this.src='static/images/placeholder-image-potted.jpg'"
                                class="card-img-top view-sheet-image" alt="image of a {{ sheet.common_name }}">
                            {% else %}
                            <img src="{{url_for('static',filename = '/images/placeholder-image-potted.jpg')}}"
                                class="card-img-top view-sheet-image" alt="image of a {{ sheet.common_name }}">
                            {% endif %}
        </div>
        <div class="col-lg-4 quick-facts-card p-4">
            <h3 class="p-2 mb-4">Quick Facts</h3>

            <div class="mb-5">

                <!-- Light -->
                <p><strong>Light:</strong> {{ sheet.light }}
                    {% if sheet.light == "Shade" %}
                    <i class="fas fa-sun"></i>
                    {% elif sheet.light == "Indirect Sunlight" %}
                    <i class="fas fa-sun"></i><i class="fas fa-sun"></i>
                    {% else %}
                    <i class="fas fa-sun"></i><i class="fas fa-sun"></i><i class="fas fa-sun"></i></p>
                {% endif %}

                <!-- Water -->
                <p><strong>Water:</strong> {{ sheet.water }}
                    {% if sheet.water == "Once a Week" %}
                    <i class="fas fa-tint"></i>
                    {% elif sheet.water == "Twice a Week" %}
                    <i class="fas fa-tint"></i><i class="fas fa-tint"></i>
                    {% else %}
                    <i class="fas fa-tint"></i><i class="fas fa-tint"></i><i class="fas fa-tint"></i></p>
                {% endif %}

                <!-- Feed -->
                <p><strong>Feed:</strong> {{ sheet.feed }}
                    {% if sheet.feed == "Once a Month" %}
                    <i class="fas fa-eye-dropper"></i>
                    {% elif sheet.feed == "Twice a Month" %}
                    <i class="fas fa-eye-dropper"></i><i class="fas fa-eye-dropper"></i>
                    {% else %}
                    <i class="fas fa-eye-dropper"></i><i class="fas fa-eye-dropper"></i><i
                        class="fas fa-eye-dropper"></i></p>
                {% endif %}

                <!-- Difficulty -->
                <p> <strong>Difficulty level:</strong> {{ sheet.difficulty }} </p>

                <!-- Category -->
                <p><strong>Classification:</strong> {{ sheet.category_name }} </p>
            </div>

            <!-- Edit button -->
            {% if session.user|lower == sheet.created_by|lower or session.user|lower == "admin"|lower %}
            <a href="{{ url_for('edit_sheet', sheet_id=sheet._id) }}"
                class="btn m-1 btn-sm btn-outline-secondary">Edit<i class="fas edit-icon fa-edit"></i></a>

            <!-- Delete button trigger modal -->
            <button type="button" class="btn m-1 btn-sm btn-outline-secondary" data-bs-toggle="modal"
                data-bs-target="#delete-modal-{{sheet._id}}">
                Delete<i class="fas delete-icon fa-trash-alt"></i>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="delete-modal-{{sheet._id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h3 class="modal-title w-100" id="exampleModalLabel"><i
                                    class="fas fa-exclamation-circle modal-header-icon"></i>Confirm Delete</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                          <p>Are you sure you want to permanently delete the {{sheet.common_name}} sheet? Once you click delete this action cannot be undone.</p>
                        </div>
                        <div class="modal-footer mx-auto">
                            <button type="button" class="btn modal-cancel-btn btn-outline-secondary" data-bs-dismiss="modal"
                                aria-label="Close">Cancel</button>
                            <a href="{{ url_for('delete_sheet', sheet_id=sheet._id) }}"
                                class="btn modal-delete-btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}

        </div>

    </div>
    <div class="card-body">
        <h3 class="card-title">{{ sheet.common_name }}</h3>
        <h5 class="card-title">{{ sheet.botanical_name }}</h5>
        <p class="card-text">{{ sheet.general_info }}</p>
        <div class="">
            <p class="card-text"><small class="text-muted">Sheet created and owned by
                    <strong class="soft-black">{{ sheet.created_by }}</strong></small></p>
        </div>

        <!-- Go back buttons -->
        <div class="sheet-footer-btn mt-3">
            <a href="{{ url_for('get_sheets') }}" class="btn soft-black btn-sm btn-outline-secondary">View Sheets<i
                    class="fas return-icon fa-eye"></i></a>
        {% if session.user %}
            <a href="{{ url_for('profile', username=session['user']) }}" class="btn soft-black btn-sm btn-outline-secondary">Profile<i
                    class="fas return-icon fa-eye"></i></a>
        {% endif %}
        </div>

    </div>
</div>


{% endblock %}
